{% extends "login/base_no_nav_bar.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div id="particles-js"></div>

		<div class="container-fluid">
			<div class="offset-md-1 col-md-4 offset-sm-1 col-sm-8 shadow">
			<form method="POST" class="content-section" style="border: 1px solid #fff;">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom  label" ><img src="{% static 'dash/images/logo.png' %}" class="img-thumbnail" style="margin-bottom:5px;"> &nbsp;&nbsp;Login here</legend>

					{{ form|crispy}}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-success btn-md" type="submit">Login</button>
					<small class="text-muted" >
					<a href="{% url 'password_reset' %}" class="hoverlog">Forget Password..?</a>
					</small>
				</div>
				<div class="form-group">
					<small class="text-muted ">
						Create An Account Here..! <a  class="ml-2 hoverlog" href="{% url 'login-register' %}">Register Here..!</a>
					</small>
				</div>
			</form>
		</div>
		</div>



{% endblock content %}