{% extends "login/base_no_nav_bar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid reg-back">
    <div class="row">
 <div class="offset-md-4 col-md-4  col-sm-9">
     <br>
    <form method="POST" class="content-section-reg" style="border: 1px solid #d9534f;">
        {% csrf_token %}
        <fieldset class="form_group">
            <legend class="border-bottom ">Reset Password </legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn btn-outline-danger btn-md" type="submit">Reset Password</button>
        </div>
    </form>
 <!-- os.environ.get('EMAIL_PASS') -->
 <!-- os.environ.get('EMAIL_USER') -->
 </div>
        <div/>
</div>

{% endblock content %}