{% extends "login/base_no_nav_bar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid reg-back">
	<div class="row">
		<div class="offset-md-4 col-md-4 offset-sm-2 col-sm-9">
			<br>
			<form method="POST" class="content-section-reg" style="border: 1px solid #f0ad4e;">
				{% csrf_token %}
				<fieldset class="form_group">
					<legend class="border-bottom ">Password Reset</legend>
					{{ form|crispy}}
				</fieldset>
				<div class="form-group">
					<a href="{% url 'login' %}" class="btn  btn-outline-danger btn-md">Back</a>
					<button class="btn  btn-outline-warning btn-md" type="submit">Request Password Reset</button>
				</div>
			</form>
			<br>
		</div>
		<div />
	</div>


</div>
{% endblock content %}