{% load static %}
<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'dash/chartjs/js/Chart.min.js' %}"></script>
</head>
<body>
	  <label>Choose Year</label>

		 	<select id="category_faq" class="browser-default custom-select">
	             <option value="1">Scatter</option>
	             <option value="2">Linear Regression</option>
	             <option value="3">Polynomial Regression Degree 2</option>
	             <option value="4">Polynomial Regression Degree 3</option>

	        </select>
        </div>
         <div> <canvas id="chart1"></canvas></div>

<script type="text/javascript">

var endpoint = '/dash/api/chart/data/';

var xaxis_cergy = []
var yaxis_cergy = []
var y_hat_p1_cergy = []
var y_hat_p2_cergy = []
var y_hat_p3_cergy = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        xaxis_cergy = data.xaxis_cergy
        yaxis_cergy = data.yaxis_cergy
        y_hat_p1_cergy = data.y_hat_p1_cergy
        y_hat_p2_cergy = data.y_hat_p2_cergy
        y_hat_p3_cergy = data.y_hat_p3_cergy



		setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
// ************************************CHART Scatter*****************************************************
        var ctx1 = document.getElementById("chart1").getContext("2d");
   	 var data1 = {
        labels: xaxis_cergy,
        datasets: [
            {

				label: "Scatter",
                fillColor : "transparent",
                strokeColor: "transparent",
                pointColor: "rgb(255,0,0)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(255,0,0)",
                data:  yaxis_cergy,
            },

        ]
    };

// ************************************CHART Linear Degree 1*****************************************************

      var ctx2 = document.getElementById("chart1").getContext("2d");
    var data2 = {
        labels: xaxis_cergy,
        datasets: [
            {
				label: "Scatter",
               	fillColor : "transparent",
                strokeColor: "transparent",
                pointColor: "rgb(255,0,0)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(255,0,0)",
                data:  yaxis_cergy,
            },
            {
                label: "Linear Degree 1",
                fillColor : "transparent",
                strokeColor: "#34A853",
                pointColor: "#34A853",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(0,255,0)",
                data: y_hat_p1_cergy,
            }

          ]

    };

// ************************************CHART Poly Degree 2*****************************************************

     var ctx3 = document.getElementById("chart1").getContext("2d");
    var data3 = {
        labels: xaxis_cergy,
        datasets: [
            {
				label: "Scatter",
                fillColor : "transparent",
                strokeColor: "transparent",
                pointColor: "rgb(255,0,0)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(255,0,0)",
                data:  yaxis_cergy,
            },
            {
                label: "Linear Degree 1",
                fillColor : "transparent",
                strokeColor: "#34A853",
                pointColor: "#34A853",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(0,255,0)",
                data: y_hat_p1_cergy,
            },
            {
                label: "Poly Degree 2",
                fillColor : "transparent",
                strokeColor: "rgb(0, 0, 255)",
                pointColor: "rgb(0, 0, 255)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(0, 0, 255)",
                data: y_hat_p2_cergy,
            },
        ]
    };
// ************************************CHART Poly Degree 3*****************************************************
 var ctx4 = document.getElementById("chart1").getContext("2d");
    var data4 = {
        labels: xaxis_cergy,
        datasets: [
            {
				label: "Scatter",
                fillColor : "transparent",
                strokeColor: "transparent",
                pointColor: "rgb(255,0,0)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(255,0,0)",
                data:  yaxis_cergy,
            },
            {
                label: "Linear Degree 1",
                fillColor : "transparent",
                strokeColor: "#34A853",
                pointColor: "#34A853",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(0,255,0)",
                data: y_hat_p1_cergy,
            },
            {
                label: "Poly Degree 2",
                fillColor : "transparent",
                strokeColor: "rgb(0, 0, 255)",
                pointColor: "rgb(0, 0, 255)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(0, 0, 255)",
                data: y_hat_p2_cergy,
            },
            {
                label: "Poly Degree 3",
                fillColor : "transparent",
                strokeColor: "rgb(255,0,255)",
                pointColor: "rgb(255,0,255)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(255,0,255)",
                data: y_hat_p3_cergy,
            },
        ]
    };



// ************************************ CHART *****************************************************
     var chart1 = new Chart(ctx1).Line(data1, {

        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.05)",
        scaleGridLineWidth : 1,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 20,
        datasetStroke : true,
        datasetStrokeWidth : 2,

        responsive: true,
        scaleOverride : true,
        scaleSteps : 15,
        scaleStepWidth : 50,
        scaleStartValue : 550
    });

$('#category_faq').change(function(){
    var val = $(this).val();
    if(val==1)
    {
        chart1.destroy();
        chart1 = new Chart(ctx1).Line(data1, {
        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.05)",
        scaleGridLineWidth : 1,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 20,
        datasetStroke : true,
        datasetStrokeWidth : 2,
        scaleOverride : true,
       	scaleSteps : 15,
        scaleStepWidth : 50,
        scaleStartValue : 550,

        responsive: true


    });
    }
    else if(val==2)
    {
        chart1.destroy();
         chart1 = new Chart(ctx2).Line(data2, {
		scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.05)",
        scaleGridLineWidth : 1,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 20,
        datasetStroke : true,
        datasetStrokeWidth : 2,
        datasetFill : true,
        responsive: true,
        scaleOverride : true,
        scaleSteps : 15,
        scaleStepWidth : 50,
        scaleStartValue : 550,


    });
    }
    else if(val==3)
    {
        chart1.destroy();
        chart1 = new Chart(ctx3).Line(data3, {
		scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.05)",
        scaleGridLineWidth : 1,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 20,
        datasetStroke : true,
        datasetStrokeWidth : 2,
        datasetFill : true,
        scaleOverride : true,
        scaleSteps : 15,
        scaleStepWidth : 50,
        scaleStartValue : 550,
        responsive: true

    });
    }
    else if(val==4)
    {
        chart1.destroy();
        chart1 = new Chart(ctx4).Line(data4, {

        scaleShowGridLines : true,
        scaleGridLineColor : "rgba(0,0,0,.05)",
        scaleGridLineWidth : 1,
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: true,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        pointDot : true,
        pointDotRadius : 4,
        pointDotStrokeWidth : 1,
        pointHitDetectionRadius : 20,
        datasetStroke : true,
        datasetStrokeWidth : 2,
        datasetFill : true,
        scaleOverride : true,
        scaleSteps : 15,
        scaleStepWidth : 50,
        scaleStartValue : 550,
        responsive: true
    });
    }
})
}
</script>

</body>
</html>