/* PROFILE STYLE START */
/* Three columns side by side */
.column {
  float: left;
  width: 45%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */


/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* PROFILE STYLE END */
/* profile pic */
.chip{
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #fff;
  color:#000;
  font-weight:600;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}