{% extends "dash/dash-base-temp.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="offset-md-4 col-md-4">
<div class="card bg-dark text-white shadow-lg" style="padding:10px;">
<div class="card-header bg-dark">Change Password</div>
  <div class="card-body">
    <p class="card-text">
       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy }}
          </fieldset>
          <div class="modal-footer">
              <a href="{% url 'dash-profile' %}" class="btn btn-outline-danger">  Back</a>
               <button class="btn btn-outline-success" type="submit">Update</button>
          </div>
      </form>

    </p>
  </div>
</div>
</div>

{% endblock content %}
