{% extends "dash/dash-base-temp.html" %}
{% block content %}


<div class="col-md-12">
	<br>
    <div class="card shadow">
			<div class="card-header bg-dark">
				<h5 class="m-0 font-weight-bold text-white">INTERNSHIP</h5>
			</div>
			<div class="card-body bg-secondary text-white">
				<div class="embed-responsive embed-responsive-21by9">
  		            <iframe class="embed-responsive-item" src="http://127.0.0.1:8000/dash/piv/intern"></iframe></div>
			</div>
		</div>

</div>

{% endblock content %}